<div class="game-field">


<div class="card-stack">
    <img *ngFor="let card of [0, 1, 2, 3, 4, 5, 6]; let i = index;" [ngStyle]="{'right.px': i*2, 'bottom.px': i*1}" src="assets/img/cards/playing-card-backside.png">
    <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px': 15, 'bottom.px': 9}" 
    src="assets/img/cards/playing-card-backside.png">
    <img (click)="takeCard()" *ngIf="pickCardAnimation"  class="pick-card" [ngStyle]="{'right.px': 15, 'bottom.px': 9}" 
    src="assets/img/cards/{{ currentCard }}.png">

    <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/cards/{{ currentCard }}.png">
</div>


</div>
