body {
    margin: 0;
    font-family: 'Kaushan Script', cursive;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 1230px) {
    .hide-mobile {
display: none;
    }
}

@media (min-width: 1230px) {
    .hide-desktop {
        display: none;
    }
}

.background {
    background-image: url("../../assets/img/black-wood.jpg");
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}